.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
}

.page-number,
.previous,
.next {
	background-color: #f8f9fa;
	border: 1px solid #dee2e6;
	color: #495057;
	cursor: pointer;
	margin: 0 0.25rem;
	padding: 0.5rem 0.75rem;
	text-align: center;
	text-decoration: none;
}

.page-number:hover,
.previous:hover,
.next:hover {
	background-color: #e9ecef;
	border-color: #ced4da;
	color: #212529;
}

.active-page {
	background-color: #d7385e;
	border-color: #d7385e;
	color: #fff;
}

.previous,
.next {
	font-weight: bold;
}
